#home
#overlay
.jumbotron.center
  %h2 “No one who cooks, cooks alone. Even at her most solitary, a cook in the kitchen is surrounded by generations of cooks past, the advice and menus of cooks present, the wisdom of cookbook writers.” 
  %h4 -Laurie Colwin
  %h2 Store and manage your favorite recipes online
  =link_to "Sign up",new_chef_registration_path,class:"btn btn-primary btn-lg"
