.container
  .row
    .col-md-3.border-right{:style => "padding-top: 50px;"}
      =gravatar_for @chef,200
      %h4 Name: #{@chef.chefname}
      %h4 Description:Chef

    .col-md-9
      %h1 My Recipes
      %hr/
      %h3 Published
      -@recipes_published.each do |recipe|
        .row
          .col-md-10.col-md-offset-1.well
            %h4=link_to recipe.name,recipe_path(recipe)
            %p=recipe.summary
            %small
              =time_ago_in_words(recipe.created_at)
              ago
          .col-md-2
            =image_tag(recipe.picture.url, size: "100x100", class:"gravatar") if recipe.picture?
      %h3 Draft
      -@recipes_draft.each do |recipe|
        .row
          .col-md-10.col-md-offset-1.well
            %h4=link_to recipe.name,recipe_path(recipe)
            %p=recipe.summary
            %small
              =time_ago_in_words(recipe.created_at)
              ago
          .col-md-2
            =image_tag(recipe.picture.url, size: "100x100", class:"gravatar") if recipe.picture?
