%h1 Create Recipe
- if @recipe.errors.any?
  .row
    .alert.alert-danger.col-md-8.col-md-offset-2
      %ul
        - @recipe.errors.full_messages.each do |error|
          %li= error
= render 'form'
