@import "bootstrap-sprockets";
@import "bootstrap";

html,body{
  height:100%;
}


#home{
  background: url(/assets/back.jpg) 50% fixed;
  min-height: 673px;
  z-index: -2;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
}

.navbar-transparent{
  height:65px;
}

#overlay{
  background:rgba(0,0,0,0.6);
  min-height: 673px;
  z-index: -1;
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  width:100%;
}

.navbar-right {
  li{
    padding:6px;
  }
  a{
    padding:21px;
  }
}

.jumbotron{
  margin-top:40px;
  background-color:transparent;
  h2{
    color:white;
  }
  h4{
    width:97%;
    color:white;
    text-align: right;
    margin-top:0;
  }
}

h1,.center{
  text-align: center;
}
#logo{
  float:left;
  font-size:38px;
  text-decoration: none;
  color:white;
  font-weight:bold;
  padding:3px 0;
  &:hover{
    color:white;
  }
}
hr{
  margin-top:0px;
  margin-bottom:r340px;
}


//search bar

#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom:25px;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 9px 8px 9px 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 21px;
  top: 3px;
}

.ui-helper-hidden-accessible { display:none; }

.dropdown-toggle
{
  padding:0 !important;
  img{
    border-radius:100px;
  }
}

.pro_border{
  border: thin solid black;
  border-radius:10px;
  padding:15px;
}

